@page "/Food/List"

@inject IFoodData foodData

<h3>List</h3>

@if (foodList is null)
{
    <h4>Briefly waiting for the list of food to load...</h4>
}
else
{
    <table class="table table-striped">
        <thead class="thead-dark">
            <tr>
                <th>Title</th>
                <th>Description</th>
                <th>Price</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var food in foodList)
            {
                <tr>
                    <td>@food.Title</td>
                    <th>@food.Description</th>
                    <th>@string.Format("{0:C}", food.Price)</th>
                </tr>
            }
        </tbody>
    </table>
}

@code {

    private List<FoodModel> foodList;

    protected override async Task OnInitializedAsync()
    {
        foodList = await foodData.GetFood();
    }

}
